import /tee.rc
import /trustonic.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

on fs
    on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /system/bin/android.hardware.keymaster@4.1-service.trustonic
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeper
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /system/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start keystore2
    start mobicore
    start keymaster-4-1
    start gatekeeper-1-0
    start keymaster_attestation-1-1

on property:ro.crypto.state=unsupported
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop keymaster-4-0
    stop gatekeeper-1-0

on boot
    start health-hal-2-1
    start boot-hal-1-2